@font-face {
  font-family: "proxima-nova2";
  url('http://funchess.leaplogic.net/css/fonts/proximanova-regular-webfont.ttf') format('ttf');
}
.wufoo .info a { color: #1ABC9C!important; }
html.embed { background-color: transparent!important; }
.wufoo .info h2 { font-family: "proxima-nova2", helvetica, arial, sans-serif; font-size: 28px; text-transform: uppercase; color: #1d1d1d; margin-bottom: 20px; letter-spacing: 1px; font-weight: 400; }
.wufoo .info div { font-family: "proxima-nova2", helvetica, arial, sans-serif; font-size: 16px; color: #5C5C5C; line-height: 1.6; font-weight: 400; }
.wufoo input, .wufoo textarea { box-shadow: none; background: #FFF!important; border: 1px solid #d5d5d5; padding: 5px; border-radius: 2px; }
.wufoo .info { padding: 0 0 1.1em 0; }
.wufoo form li { padding: 6px 0px 9px 0px; }

.wufoo input[type="submit"] {
  background: #1ABC9C!important;
color: #FFF;
text-transform: uppercase;
font-family: "proxima-nova2", helvetica, arial, sans-serif;
font-size: 14px;
padding: 8px 20px;
letter-spacing: 1px;
border: 0;
border-radius: 2px;
cursor: pointer;
}
.wufoo input[type="submit"]:hover { background: #108B73!important; }
.wufoo li.focused { background-color: #E6E6E6!important; }
.wufoo textarea.textarea { min-width: 98%; }
